*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    gap: 10px;

}
.navitem {
    color: black;
    padding: 0;
}
.navlink { 
    color: black;
}
.navlink:hover {
    color: rgba(81, 72, 72, 0.38);
}
.navlink-active{
    color: grey;
}
#sitename{
    justify-content: flex-start;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
body {
    display: flex;
    flex-direction: column;
    color: slategrey;
    background-color: beige;
    justify-content: center;
    text-align: center;
}
main {
justify-content: space-around;
}

footer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto;
}
.credentials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
section.playboard {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin: auto;
    border: 10px thin solid black;
    padding-left: 200px;
    padding-right: 200px;
}