
body {
    display: flex;
    flex-direction: column;
    color: slategrey;
    background-color: beige;
    text-align: center;
}
.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    gap: 10px;

}
.navitem {
    color: black;
    padding: 0;
}
.navlink {
    color: black;
    
}
.navlink-active{
    color: grey;

}